<style>
    .table {
        max-width: 150px; /* Giới hạn chiều rộng của ô */
        white-space: nowrap; /* Ngăn nội dung xuống dòng */
        overflow: hidden; /* Ẩn nội dung tràn */
        text-overflow: ellipsis; /* Hiển thị dấu "..." */
        object-fit: cover; /* Giữ cho hình ảnh lấp đầy khung nhưng không biến dạng */

    }
    img {
        width: 100%;
        max-height: 150px;
        object-fit: contain;
    }
</style>
<div class="container my-5">
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Danh sách Bài viết</h6>
        </div>
        <div class="card-body">
            <a href="/admin/articles/create" class="btn btn-primary mb-3">Tạo bài viết mới</a>
            <div class="table-responsive">
                <table class="table table-bordered" width="100%" cellspacing="0">
                    <thead>
                    <tr>
                        <th>Tiêu đề</th>
                        <th>Tác giả</th>
                        <th>Slug</th>
                        <th>Link ảnh</th>
                        <th>Mô tả</th>
                        <th>Link Bài viết gốc</th>
                        <th>Ngày tạo</th>
                        <th>Trạng thái</th>
                        <th>Thao tác</th>
                    </tr>
                    </thead>
                    <tbody>
                    <% if (articles && articles.length) { %>
                        <% articles.forEach(article => { %>
                            <tr>
                                <td><%= article.title %></td>
                                <td><%= article.author %></td>
                                <td><%= article.slug%></td>
                                <td><%= article.thumbnail%></td>
                                <td><%= article.description%></td>
                                <td><%= article.originalLink%></td>
                                <td><%= article.createdAt%></td>
                                <td><%= article.status %></td>
                                <td>
                                    <a href="/admin/articles/edit/<%= article._id %>" class="btn btn-warning btn-sm">Chỉnh sửa</a>
                                    <form action="/admin/articles/delete/<%= article._id %>" method="POST" style="display:inline;">
                                        <button type="submit" class="btn btn-danger btn-sm">Xóa</button>
                                    </form>
                                </td>
                            </tr>
                        <% }); %>
                    <% } else { %>
                        <tr>
                            <td colspan="4" class="text-center">Không có bài viết nào.</td>
                        </tr>
                    <% } %>
                    </tbody>
                </table>
            </div>
            <nav>
                <ul class="pagination justify-content-center">
                    <% if (currentPage > 1) { %>
                        <li class="page-item">
                            <a class="page-link" href="?page=<%= currentPage - 1 %>" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                    <% } %>
                    <% for (let i = 1; i <= totalPages; i++) { %>
                        <li class="page-item <%= currentPage === i ? 'active' : '' %>">
                            <a class="page-link" href="?page=<%= i %>"><%= i %></a>
                        </li>
                    <% } %>
                    <% if (currentPage < totalPages) { %>
                        <li class="page-item">
                            <a class="page-link" href="?page=<%= currentPage + 1 %>" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    <% } %>
                </ul>
            </nav>
        </div>
    </div>
</div>